/* Chess board */
table, th, td {
    border-collapse: collapse;
    padding: 21px;
    font-size: 2rem;
    margin: 50px;
}

td:hover {
    /* background-color: #DBE9F4 !important; */
    opacity: .7;
    transform: scale(.9);
    cursor: pointer;
}

td {
    user-select: none;
}


/* Main container that holds all the elements */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}


.bg-green{
    background-color: #739552;
}
.bg-beige{
    background-color: #ebecd0;
}

.font-green{
    color: #739552;
}

.font-beige{
    color:#ebecd0;
}