:root{
    --color-darkgray: #302e2b;
    --color-green: #739552;
    --color-beige: #ebecd0;
}


/* Chess board */
table, th, td {
    border-collapse: collapse;
    padding: 21px;
    font-size: 2rem;
    margin: 50px;
}

td:hover {
    /* background-color: #DBE9F4 !important; */
    opacity: .7;
    transform: scale(.9);
    cursor: pointer;
}

td {
    user-select: none;
}
